<mat-card class="mt-5">
  <mat-card-header class="d-flex justify-content-center text-center border-bottom">
      <mat-card-title>Análise</mat-card-title>
  </mat-card-header>
  <mat-card-content class="pt-4 pb-2">
    <table *ngIf="fileAnalysis?.length">
      <thead>
        <tr>
          <th>Nº</th>
          <th>Linha</th>
          <th>Grupo de caracteres</th>
          <th>Tipo</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let lineAnalysis of fileAnalysis; let lineAnalysisIndex = index">
          <tr *ngFor="let analysis of lineAnalysis?.analysis; let analysisIndex = index">
            <td *ngIf="analysisIndex == 0" [attr.rowspan]="lineAnalysis.analysis.length">{{lineAnalysisIndex}}</td>
            <td *ngIf="analysisIndex == 0" [attr.rowspan]="lineAnalysis.analysis.length">{{lineAnalysis.line}}</td>
            <td>{{analysis?.characterGroup}}</td>
            <td>{{analysis?.type}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
